# Template for making a service use a specific nginx-proxy instance
[Unit]
# Replace 'default' with the name of the respective instance
Requires=nginx-proxy@default.conf
After=nginx-proxy@default.conf

[Service]
# Replace with the correct host name(s) for the service.
Environment='DOCKER_ENV_VIRTUAL_HOST=VIRTUAL_HOST=example.com,example.org'
